<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}A/S NEWS{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/images/sesac.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div id="sidebar">
    <div class="project_header">
    <a href="/" class="main_link">
        <h1 class="category_title" align="middle">A/S NEWS</h1>
    </a>
    </div>
        <div class="news_genres">
            {% for genre_name in genres %}
                <a class = "genres_link" href="{{ url_for('show_news', genre=genre_name.replace('/', '_')) }}">{{ genre_name }}</a>
            {% endfor %}
        </div>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>